/*****************************************************/
/* This semester we will be using my variation of    */
/* Josh Comeau's CSS Reset instead of normalize      */
/* Read more at                                      */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/*****************************************************/
/* Always add your CSS below the reset CSS           */
/*****************************************************/

:root {
  --color-font: #5a5a5a;
  --color-primary: #401020; /* Purpley blue */
  --color-secondary: #c55050; /* Dark Salmon */
  --color-accent: #a96544; /* Wet Sand */
  --color-accent-light: #f59c4d; /* Burnt Orange */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  /* this an experimental line-height; if it breaks, add line-height: 1.5 to body */
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* until you get a feel for overflow, I'll keep these next two commented out */
/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} */

/* p {
  overflow-wrap: break-word;
  hyphens: auto;
} */

/* temp CSS for HTML only assignments */
picture img {
  width: 100%;
}

svg {
  width: 200px;
}

/* temp fix to size about img */
img[srcset] {
  width: 50%;
  height: auto;
  margin: 2rem auto;
}

/* temporary fix to size svg images */
img[src$="svg"] {
  width: 200px;
}

/************ add your CSS here *****************/
body {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--color-font);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: var(--color-accent-light);
  font-size: 3.5rem;
  padding-bottom: 2rem;
  text-shadow: 2px 2px 2px #0005;
}

h2 {
  font-family: "Oswald", sans-serif;
  color: var(--color-secondary);
  font-size: 2.5rem;
}

h3 {
  font-family: "Oswald", sans-serif;
  color: var(--color-accent);
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}

a[href]:hover {
  color: var(--color-accent-light);
}

.button {
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  padding: 0.5rem 1rem;
  transition: background-color 450ms ease-in-out, color 450ms ease-in-out;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 8rem;
}

.button:hover {
  background-color: var(--color-secondary);
  color: white;
}

a.button:hover {
  color: white;
}

p {
  margin-bottom: 1.5rem;
  max-width: 75rem;
  padding: 0 1rem;
}

main {
  align-self: center;
  padding: 0 1rem;
  max-width: 50rem;
}
p {
  margin-bottom: 1.5rem;
}

article,
aside {
  align-self: center;
  padding: 0 1rem;
  max-width: 50rem;
}

footer {
  background-color: var(--color-primary);
}

footer p {
  color: white;
  margin: 0;
  padding: 3rem 1rem 6rem;
}

.hero {
  position: relative;
  order: -1;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to top, #0006, transparent 50%);
}

.img1 {
  filter: brightness(60%);
}

nav {
  visibility: hidden;
}

header ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

header nav a {
  position: relative;
  text-transform: uppercase;
  padding: 1rem;
  display: inline-block;
}
.hero .headsub {
  position: absolute;
  inset: 0;
  color: var(--color-accent-light);
  text-align: center;
  text-shadow: 2px 2px 2px #0005;
  display: flex;
  flex-direction: column;
  margin-top: clamp(5rem, 7vw, 10rem);
}

.close nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  align-items: center;
  inset: 0;
  color: white;
  background-color: purple;
  visibility: visible;
  padding-bottom: 2rem;
  z-index: 1;
}

.close header ul {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 0;
  list-style-type: none;
  font-size: 1.5rem;
}

.hero p {
  font-size: clamp(2rem, 7vw, 1rem);
}

.hero h1 {
  font-size: clamp(2rem, 7vw, 7rem);
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.cards {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  flex: 1 1 0;
  gap: 1rem;
  margin: 0 1rem 8rem;
  transition: box-shadow 300ms ease;
}

.cards h3 {
  position: relative;
  inset: 0;
  text-align: center;
}
/* i need text to be underneath the pictures.. */

.marginer {
  margin-bottom: 6rem;
}

.card {
  overflow: hidden;
  transition: box-shadow 300ms ease;
}

.card img {
  transition: transform 600ms ease-in-out;
}

.card:hover img {
  transform: scale(1.2);
}

.card .imagewrapper {
  overflow: hidden;
}

.panel {
  display: flex;
  flex-direction: column;
}

.panel .img-wrapper {
  order: -1;
}

/* default menu icon on mobile is a fixed round icon in the top left of the viewport */
.menu-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 1.5rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #711f21;
  z-index: 2;
}

.menu-icon line {
  stroke: #fff;
  stroke-width: 3px;
  stroke-linecap: round;
  transform-origin: center;
  transition: transform 300ms ease;
}

.menu-icon line:first-child {
  transform: translateY(16%);
}

.menu-icon line:last-child {
  transform: translateY(-16%);
}

/* JavaScript toggles a "close" class on the <nav> when the menu-icon is clicked */

.close line:first-child {
  transform: rotate(135deg);
}

.close line:last-child {
  transform: rotate(-135deg);
}

@media (min-width: 500px) {
  .panel {
    flex-direction: row;
    gap: 1rem;
  }

  .panel h2 {
    margin: 0;
  }

  .panel .text-wrapper {
    flex: 1 1 40%;
  }

  .panel .img-wrapper {
    order: 0;
    flex: 1 1 60%;
  }

  .panel .left {
    order: -1;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    flex: 1 1 40%;
  }
}

@media (min-width: 601px) {
  header nav {
    visibility: visible;
  }

  .hero {
    order: 0;
  }
  header ul {
    margin: 2rem;
    flex-direction: row;
  }

  .menu-icon {
    display: none;
  }
}

@media (min-width: 1000px) {
  .cards {
    flex-wrap: nowrap;
  }
}
